.nav {
    grid-area: n;
    background-color: darkgreen;
    padding: 20px;
  }
.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: goldenrod;
}

.userContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user {  
  width: 50px;
  height: 30px;
  text-align: center;
  padding: 2px;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}